<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <div style="text-align: center;">

        <img src="https://media.discordapp.net/attachments/1183542721093320808/1201140412304343170/8DC461F0-0A81-46B7-BB50-83B9CFCA34F0.png?ex=65c8bc2e&is=65b6472e&hm=13190f1f6f892c846d982e891bf2487d0891ba7f46540bfe9a3daae22643324b&" width="60%">
        </div>
</body>
</html>
